       <table>
       {{#each villager}} 
        <tr> 
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{favorite}}</td>>
            <td>{{join_date}}</td>
            <td><input type="button" value="Update Villager" onclick="toggleVillager({{name}})"></td>
           
            <div id='{{name}}' class="hiddenVill">

             <form id="updateVill" action="updateVill/" method="post">
             Villager Name: <input type="text" name="ffvillager" value = {{name}} readonly="readonly"><br>
        New rating: <input type="text" name="fratingVill" value = {{rating}}><br>
        New Favorite Score: <input type="text" name="ffavoriteVill" value = {{favorite}}><br>

        <input type="submit" value= "Submit">
        </div>
        
        </form>
			<td><input type="button" value="Delete Row" onclick="deleteIslandVillager({{vid}})"></td>

        </tr> 
        {{/each}}
        </table> 