       <table>
       {{#each villager}} 
        <tr> 
            <td>{{name}}</td>
            <td>{{rating}}</td>
            <td>{{favorite}}</td>>
            <td>{{join_date}}</td>
			<td><input type="button" value="Delete Row" onclick="deleteIslandVillager({{vid}})"></td>

        </tr> 
        {{/each}}
        </table> 