
          {{#each villagers}}
            <div class="Villager-card">
                <img id="villager-image" src={{image}} alt="Villager-picture" style="width:100%">
                <ul id="villager-text">
                    <li>Name:{{name}}</li>
                    <li>Personality: {{personality}}</li>
                    <li>Species: {{animal}}</li>

                        <td><input type="button"  value="Update Villager" onclick="toggleVillager({{name}})"></td>

                </ul>
                <div style="clear:both"></div>
            </div>

                                <div id='{{name}}' class="hiddenVill">
                            <div class ="Forms">

             <form id="updateVills" action="updateVills/" method="post">

             <label> Villager Name: </label> <input type="text" name="ffvillager" value = {{name}} readonly="readonly"><br>
            <label>  New Image: </label> <input type="text" name="fimageVill" placeholder = "Enter a Link to an image!"><br>
       <label> New Personality: </label> <input type="text" name="fpersonality" placeholder= {{personality}}><br>
      <label> New Species: </label> <input type="text" name="fanimal" placeholder = {{animal}}><br> 
        <input type="submit" value= "Submit">
        </form>
        </div>
        </div>
        </div>
            {{/each}}
